# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/

# Builds y cachés
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
*.xcuserstate
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Reportes y artefactos
*.xcresult
*.zip
*.log

# Credenciales / claves locales
.env
.env.*
